@import url('https://fonts.googleapis.com/css2?family=Alike&family=Almarai:wght@300;400;700;800&family=Anek+Telugu:wght@100..800&display=swap');

body {
    background-color: white;
    color: black;
}

body.dark {
    background-color: black;
    color: white;
}
