@import url('https://fonts.googleapis.com/css2?family=Alike&family=Almarai:wght@300;400;700;800&family=Anek+Telugu:wght@100..800&display=swap');

/*Tirando o padding e margin padrão de todos os elementos para, acho melhor para saber quanto da tela cada elemento ocupa sem caucular margem e padding, defino cada um manuamente*/
* {
    margin: 0;
    padding: 0;
}

/*Limitando a largura dos containers principais a 80% da tela e alinhando horizontalmete independente da largura da tela*/
section , header {
    max-width: 80%;
    margin: auto;
}

body {
    transition: background 0.3s, color 0.3s;
    background: white;
    color: black;
}

body.dark {
    background: black;
    color: white;
}

.dark h1,
.dark ul,
.dark li,
.dark a {
    color: white;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 30px;
    transition: color 0.4s;
}

.dark .theme-toggle {
    color: white;
}

.theme-toggle svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

body.dark #quantidade button i  {
    color: white; 
}

body.dark ul li i {
    color: white; /* Cor branca no modo escuro */
    background-color: white;
}

/* Estilizando o input de número no modo escuro */
body.dark #quantidade input {
    color: white !important; /* Cor do valor do número no input no modo escuro */
    background-color: #555; /* Fundo escuro do input */
    border: 1px solid #777; /* Borda do input no modo escuro */
}

body.dark #footerTop > #social > ul > li > a > i {
    color: white; /* Cor branca no modo escuro */
    background-color: transparent; /* Fundo transparente no modo escuro */
}

/*caracteristica padrão dos links*/
a {
    text-decoration: none;
    font-family: almarai;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

p {
    font-family: alike;
    font-size: 1vw;
    max-width: 35vw;
    color: #525252;
    margin-bottom: 30px;;
}

#promo {
    background-color: black;
    text-align: center;
    padding: 5px;
    padding: 10px;
}

/*carcteristica padrão de todos os links dentro da promo*/
#promo > a {
    color: white;
    font-weight: 300;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 30px;
}

#nav > #navLeft {
    gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navLeft > a > #logo {
    font-family: anek telugu;
    font-size: 30pt;
    font-weight: 900;
    padding-top: 10px;
}

#navLeft > ul {
    display: flex;
    gap: 1vw;
    list-style: none;
}

#navLeft > ul > li > a {
    font-family: alike;
}

#input-lupa {
    display: flex;
    align-items: center;
    background-color: trea;
    border-radius: 999px; 
    padding: 8px 16px;
    width: 100%;
    max-width: 500px;
}

@media (max-width: 440px) {
    #input-lupa {
        display: none;
    }
}

#input-lupa i {
    color: #888;
    margin-right: 10px;
    font-size: 16px;
}

#input-lupa input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
    color: #333;
}

#navRigth {
    display: flex;
    gap: 20px;
    align-items: center;
}

#navmobile {
    display: none;
}

/*Nav Mobile*/
@media (max-width: 790px) {

    /*icone de menu mobile*/
    #navmobile {
        display: block;
        gap: 20px;
    }

    /* Quado a ul não tiver a classe open */
    #navLeft > ul {
        display: grid;
        position: absolute;
        right:4%;
        top: -9%;
        transition: 0.3s;
        background-color: rgb(0, 0, 0);
        padding: 5px 10px;
        border-radius: 0px 0px 10px 10px;
        color: white;
    }

    /* Quado a ul tiver a classe open */
    .open {
        right:4%;
        top: 6%;
    }

    #navLeft > ul > li > a {
        color: white;
    }
}



#detail{
    display: flex;
    justify-content: flex-start;
}

#imgDesk {
    display: flex;
    align-items: center;
    width: 50%;
}

#imgDesk > #imgDetalheDesk {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#imgDesk > #imgDetalheDesk > img {
    width: 8vw;
}

#imgDesk > #imgPrincipalDesk {
    text-align: center;
    flex: 1;
    width: 80%;
}

#imgDesk > #imgPrincipalDesk > img{
    border-radius: 30px;
    width: 80%;
}

/*não exbibe as imagens para mobile quando a tela for maior que 790px*/
@media (min-width: 790px) {
    #imgMob {
        display: none;
    }
}

/*exibe as imagens para mobile e esconde as imagens de desktop ou tablet quando a tela for menor que 790px*/
@media (max-width: 790px) {
    #imgDesk{
        display: none;
    }

    #imgMob{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #detail {
        flex-direction: column;
        align-items: center;
    }

    #imgDetalhesMob {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #imgPrincipalMob {
        text-align: center;
        width: 100%;
    }

    #imgPrincipalMob > img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 3px 5px 10px #00000038;
    }

    #imgDetalhesMob > img {
        width: 25vw;
        border-radius: 5px;
        box-shadow: 3px 5px 10px #00000038;
    }
}





#dadosProduto {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#dadosProduto > h1 {
    font-family: anek telugu;
    font-size: 30pt;
    font-weight: 900;
    padding-top: 10px;
}

.estrela {
    color: #cab125;
    font-size: 16px;
    letter-spacing: 1px;
}

.score {
    font-family: alike;
    color: #333;
}

#cores > p {
    margin: 0px;
}

#coresDisponiveis {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}


#cor1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative; 
}   

#cor01 {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #4F4631;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cor2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

#cor02 {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #314F4A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cor3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

    position: relative;
}

#cor03 {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #31344F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.corAtiva {
    box-shadow: inset 0 0 0 3px rgb(0, 0, 0);
}


#tamanho {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#tamanho > p {
    margin: 0px;
}

#tamanho > #tamDisponiveis {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

#tamP {
    width: 50px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tamM {
    width: 50px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tamG{
    width: 50px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tamGG {
    width: 50px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamAtivo {
    background-color: black;
    color: white;
}

#addcart {
    display: flex;
    justify-content: space-between;
    align-items: center
}

#addcart > #quantidade > button {   
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: black;
}

#addcart > #quantidade > input{
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.3rem;
    font-family: almarai;
    cursor: pointer;
    color: black;
    width: 40%;
}

#addcart > input {
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.3rem;
    font-family: almarai;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: black;
    width: 60%;
    height: 50px;
    border-radius: 999px;
}

@media (max-width: 790px) {
    #dadosProduto {
        width: 100%;
    }

    #dadosProduto > h1 {
        font-family: anek telugu;
        font-size: 2.3em;
        font-weight: 900;
        padding-top: 10px;
    }

    .estrela {
        font-size: 2.5em;
        letter-spacing: 1px;
    }

    p {
        font-size: 1.2em;
        max-width: 100%;
    }

    #addcart > input {
        font-size: 1.2em;
        padding: 15px;
    }
}

/*tirar as setinhas de aumentar e diminuir o valor do input de number*/
input[type="number"] {
    -moz-appearance: textfield;
    }
    
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }


#assinatura {
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    border-radius: 20px;
}

#assinatura > div {
    margin: 0px 40px;
}

#assinatura > #callToAction > h1 {
    font-family: anek telugu;
    font-size: 2.5vw;
    line-height: 2.5vw;
    padding-top: 15px; /*15px para compensar o empacamentos a baixo da linha da fonte e conseguir alinhar o texto horizontalmente em relação a caixa do elemento*/
    max-width: 60%;
}

#assinatura > #inputAssinar {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

#assinatura > #inputAssinar > input {
    height: 42px;
}

#assinatura > #inputAssinar  > div {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0px 10px;
    border-radius: 999px;
    height: 46px;
}

#assinatura > #inputAssinar  > div > i {
    color: gray;
    margin-right: -20px;
    margin: 5px;
}

#assinatura > #inputAssinar  > div > input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
    color: #333;

    border-radius: 999px; 
    font-size: 1.2rem;
    height: 42px;
}

#assinatura > #inputAssinar > input {
    background-color: white;
    color: black;
    font-family: almarai;
    font-size: 1.2vw;
    border-radius: 999px; 
    border: none;
    cursor: pointer;
}

@media (max-width: 790px) {
    #assinatura {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    #assinatura > div {
        margin: 0px 0px;
    }

    #assinatura > #callToAction > h1 {
        font-family: anek telugu;
        font-size: 2.3em;
        line-height: 2.3rem;
        padding-top: 15px;
        text-align: center;
        max-width: 100%;
    }

    #assinatura > #inputAssinar {
        width: 100%;
    }

    #assinatura > #inputAssinar > input {
        font-size: 4vw;
    }
}

footer {
    max-width: 80%;
    margin: auto;
}

#footerTop {
    display: flex;
    justify-content: center;
}

/* defini que a primeira div filho do footerTop vai ocupar 35% da largura da tela*/ 
#footerTop > div:first-child {
    flex: 0 0 35%;
}

/* defini que todas as div filho do footerTop que não é a primeira vão ter a largura igualmente divida na largura que sobrou, ou seja, cada uma ocupando aproximandamente 21.6% dos 65% que sobraram */
#footerTop > div:not(:first-child) {
    flex: 1;
}

#footerTop > #social > h1 {
    font-family: anek telugu;
    font-size: 30pt;
    font-weight: 900;
    padding-top: 10px;
}

#footerTop > #social > p {
    width: 65%;;
}

#footerTop > #social > ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 50px;
}

#footerTop > #social > ul > li > a > i {
    font-size: 1.5vw;
    color: black;
}

#footerTop > div > h1 {
    font-family: almarai;
    font-weight: 400;
    font-size: 1.3em;
}

#footerTop > div > ul {
    list-style: none;
    margin-top: 20px;
}

#footerTop > div > ul > li {
    font-family: alike;
    margin: 20px 0;
}

#footerTop > div > ul > li > a {
    font-family: alike;
    font-size: 1rem;
    color: rgb(95, 94, 94);
}

footer > hr {
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 790px) {
    #footerTop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    #footerTop > div:first-child {
        grid-column: 1 / -1; /* a primeira div irá ocupar 1 primeira e ultima linha (-1 significar sempre a última, independente de quantas tiverem)*/
    }

    #footerTop > #social > h1 {
        font-size: 3rem;
    }

    #footerTop > #social > p {
        font-size: 1rem;
        max-width: 100%;
        width: 100%;
        margin-bottom: 0px;
    }

    #footerTop > #social > ul {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    #footerTop > #social > ul > li > a > i {
        font-size: 1.9rem;
        background-color: transparent;
    }

    #footerTop > div > h1 {
        font-size: 1.4rem;
    }

    footer > hr {
        border: 1px solid gray;

    }

    #foterbottom > p {
        font-size: 1rem;
        max-width: 100%;
    }
}